/*===================================================*/
/* Modification du style du forum PhpBB3-CleanSilver */
/*===================================================*/
/* #phpbb permet de prioriser par rapport au style de base */

/* Pas de ligne vide en haut */
#phpbb toto {
  padding: 0;
}

/* Forum de la largeur de la page */
#phpbb toto .wrap {
  max-width: 100%;
}

#phpbb toto .section-viewtopic .topic-title a:first-child,
#phpbb toto li.row:hover {
  color: black !important;
}

#phpbb h3,
#phpbb .bandeau-haut {
  background-color: var(--couleur_fond);
}

.bandeau-haut a {
  color: var(--couleur_lien);
  text-decoration: none;
}

/* Personnalisation des couleurs */
#phpbb .navbar,
#phpbb .navbar .avatar {
  background-color: var(--couleur_fond) !important;
}

#phpbb .header,
#phpbb toto .headerbar,
#phpbb toto .forabg,
#phpbb toto .forumbg {
  background-color: var(--couleur_fond_titre) !important;
}

#phpbb toto input,
select,
textarea {
  background-color: var(--couleur_titre);
}

#phpbb a {
  color: var(--couleur_lien) !important;
  text-decoration: none;
}

#phpbb h3 a,
#phpbb toto p {
  color: white !important;
}

#phpbb blockquote {
  background: #ebeadd;
  border-color:#dbdbce;
}

#phpbb .copyright,
#phpbb #defaultOpen,
#phpbb #page-header,
#phpbb #WhoIs,
#phpbb .tabcontentblock,
#phpbb .nav-footer li:last-child,
#phpbb .nav-footer li:nth-last-child(2),
#phpbb .nav-footer li:nth-last-child(3) {
	display: none !important;
}